.bg-container {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #cffcf1,
    #cffcf1,
    #defafe
  );
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px;
  padding: 28px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bg-container {
    background-image: linear-gradient(
      to right,
      #ffffff,
      #cffcf1,
      #cffcf1,
      #defafe
    );
  }
}

.title {
  color: #0f172a;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 44px;
  }
}

.digital-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .digital-timer-container {
    flex-direction: row;
    max-width: 1154px;
  }
}

.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
  width: 320px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .timer-display-container {
    width: 520px;
    height: 380px;
  }
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  text-align: center;
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .time-container {
    width: 150px;
    height: 150px;
  }
}

.time {
  color: #00d9f5;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .time {
    font-size: 40px;
  }
}

.status {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .status {
    font-size: 20px;
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.timer-controller-container {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0px;
  outline: none;
  cursor: pointer;
  margin-left: 16px;
  margin-right: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
}

.timer-controller-label {
  color: #1e293b;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .timer-controller-label {
    font-size: 32px;
  }
}

.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limit-label {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

.timer-limit-controller {
  display: flex;
  align-items: center;
}

.limit-controller-btn {
  color: #1e293b;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  border: none;
  margin: 8px;
  cursor: pointer;
  outline: none;
}

.limit-label-and-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.limit-value {
  text-align: center;
  color: #1e293b;
  background-image: linear-gradient(to right, #00f5a0, #00d9f5);
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  width: 100px;
  border-radius: 8px;
  margin: 0px;
  padding: 8px;
}
